# folders
papers/*
lit_review/HANDED_IN
notes/*
!notes/
!notes/log.md
lit_review/lit_review_notes.*
lit_review/photos/
presentation/

# latex
*.aux
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.bcf-SAVE-ERROR
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.log
*.out
*.out.ps
*.run.xml
*.synctex.gz
*.toc

# R
*.Rproj
.Rproj.user
.Rhistory
.RData
.Renviron

# python
env/

# fluxnet
*.log
fluxnet/fluxnet-shuttle-run.log

# large files
*.csv
*.zip
*.html


# user codes for pushover
.env
